@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --color-primary: #0ea5e9;
  --color-main: #1f2937; /* Usado em textos principais*/
  --color-secondary: #9ca3af; /* Textos secundários */
  --color-label: #374151; /* Usado em labels */
  --color-background: #fff; /* Background da página */
  --color-card-background: #f3f4f6; /* Usado em cards */
}

.dark {
  --color-primary: #0ea5e9; /* Azul vibrante para destaques */
  --color-main: #f8fafc; /* Texto principal claro */
  --color-secondary: #d1d5db; /* Texto secundário */
  --color-label: #e5e7eb; /* Labels */
  --color-background: #000000; /* Fundo totalmente preto */
  --color-card-background: #1a1a1a; /* Fundo de cards quase preto */
}

/* Tema para Deuteranopia (verde-vermelho) */
.deuteranopia {
  --color-primary: #007acc; /* Azul seguro, perceptível */
  --color-main: #1f1f1f; /* Texto escuro forte */
  --color-secondary: #5f6368; /* Cinza médio */
  --color-label: #3c4043;
  --color-background: #ffffff;
  --color-card-background: #f3f4f6;
}

/* Tema para Protanopia (vermelho) */
.protanopia {
  --color-primary: #0088cc; /* Azul-turquesa mais forte */
  --color-main: #202124;
  --color-secondary: #606367;
  --color-label: #3c4043;
  --color-background: #ffffff;
  --color-card-background: #f3f4f6;
}

/* Tema para Tritanopia (azul-amarelo) */
.tritanopia {
  --color-primary: #d75a00; /* Laranja forte, visível */
  --color-main: #1f1f1f;
  --color-secondary: #5e5e5e;
  --color-label: #3c3c3c;
  --color-background: #ffffff;
  --color-card-background: #f3f4f6;
}
