@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --color-primary: #0ea5e9;
  --color-main: #1f2937; /* Usado em textos principais*/
  --color-secondary: #9ca3af; /* Textos secundários */
  --color-label: #374151; /* Usado em labels */
  --color-background: #fff; /* Background da página */
  --color-card-background: #f8fafc; /* Usado em cards */
}

.dark {
  --color-primary: #0ea5e9; /* Azul vibrante para destaques */
  --color-main: #f8fafc; /* Texto principal claro */
  --color-secondary: #d1d5db; /* Texto secundário */
  --color-label: #e5e7eb; /* Labels */
  --color-background: #000000; /* Fundo totalmente preto */
  --color-card-background: #1a1a1a; /* Fundo de cards quase preto */
}

/* Tema para Deuteranopia (verde-vermelho) */
.deuteranopia {
  --color-primary: #007acc; /* Azul forte, seguro */
  --color-main: #222222;
  --color-secondary: #767676;
  --color-label: #444444;
  --color-background: #ffffff;
  --color-card-background: #f1f1f1;
}

/* Tema para Protanopia (vermelho) */
.protanopia {
  --color-primary: #007acc; /* Evita tons avermelhados */
  --color-main: #202020;
  --color-secondary: #7a7a7a;
  --color-label: #3a3a3a;
  --color-background: #ffffff;
  --color-card-background: #f2f2f2;
}

/* Tema para Tritanopia (azul-amarelo) */
.tritanopia {
  --color-primary: #d75a00; /* Laranja vibrante, substitui azul */
  --color-main: #1f1f1f;
  --color-secondary: #808080;
  --color-label: #3b3b3b;
  --color-background: #ffffff;
  --color-card-background: #f3f3f3;
}
